.header {
  width: 100%;
  height: 50rem;
  overflow: hidden;
  position: relative;
  background-image: url("../img/odyssey_docked.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__counter {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00a3e8;
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    top: 2rem;
    right: 2rem;
    border: 3px solid #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);

    & h2,
    p {
      color: #ffffff;
      text-transform: uppercase;
    }
  }

  &__heading {
    max-width: 75%;
    text-align: right;
    position: absolute;
    right: 2rem;
    bottom: 5rem;
  }

  &__heading-span {
    padding: 1rem 2rem;
    box-decoration-break: clone;
    background-image: linear-gradient(
      to bottom right,
      rgba($color-primary, 0.75),
      rgba($color-tertiary, 0.75)
    );
    box-shadow: 3px 3px 7px rgba($color-text, 0.5);
  }
}
